$bodyBackground: #efefef;
$sectionBackground: #fff;
$headerBgPicture: url("../img/header_background_v2.jpg") no-repeat top/cover;
$headerText: #ff5743;
$buttonText: #fff;
$buttonColor: #0401ac;
$headerTextColor: #01acac;
$lineColor: #cfd8dc;
$articleHeader: #5d8882;
$textColor: #757589;
$borderColor: #cfd8dc;
$dateColor: #bdbdbd;
$contactColor: #607d98;
$buttonFont: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$fontStack: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontStyle: normal 18px/26px;