$bodyBackground: #fff;
$sectionBackground: #efefef;
$headerBgPicture: url("../img/header_background_v1.jpg") no-repeat top/cover;
$headerText: #fff;
$buttonText: #fff;
$buttonColor: #01acac;
$headerTextColor: #01acac;
$lineColor: #607d8b;
$articleHeader: #0097a7;
$textColor: #000000;
$borderColor: #607d8b;
$dateColor: #db0000;
$contactColor: #0097a7;
$buttonFont: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$fontStack: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$fontStyle: normal 300 15px/24px;